{% extends "base.html.twig" %}

{% block body %}

    {# Search Member #}
    <h4 class="mb-3">Liste de membres</h4>
    <div class="search_member mb-3">
        <form action="" method="POST" class="d-flex">
            <div>
                <select class="form-select" name="search_select">
                    <option selected>Trier par pseudo</option>
                    <option value="1">croissant</option>
                    <option value="2">décroissant</option>
                </select>   
            </div>
            <div>
                <input type="text" class="form-control mx-2 w-100" placeholder="Pseudo" name="search">          
            </div>
            <div>
                <button class="btn btn-primary ms-3">Recherchez<i class="fas fa-search ms-2"></i></button>
                <a href=" {{ path('all_members') }}"><button class="btn btn-danger"><i class="fas fa-times"></i></button></a>
            </div>
        </form>
    </div>

    {# Listing member #}
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Avatar</th>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>                        
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>                    
                    {% for member in members %}
                    <tr class="all_members">
                        <th class="all_members_image"scope="row"><img src="{{ member|image }}" alt="image_avatar"></th>
                        <td>{{member.pseudo}}</td>
                        <td>{{member.firstname}}</td>
                        <td>{{member.lastname}}</td>                        
                        <td class="add_friends">
                           
                            {% if app.user.isFriendsWith(member) %}                                
                                <a href="{{ path('delete_friend', {id: member.id}) }}">
                                    <button class="btn btn-danger">Ne plus être amis</button>
                                </a>
                            {% elseif app.user.isRequestPending(member) %}                             
                                <p>... Demande envoyée</p>
                            {% elseif app.user.isRequestReceiving(member) %}
                                <a href="{{ path('accept_friend_request', {id: member.id}) }}">
                                    <i class="fas fa-check ms-3"></i>
                                </a>
                                <a href="{{ path('refuse_friend_request', {id: member.id}) }}">
                                    <i class="fas fa-times ms-3"></i>
                                </a>
                            {% else %}                                
                                <a href="{{ path('ask_friend', {id: member.id}) }}">
                                    <button class="btn btn-secondary"><i class="fas fa-plus"></i></button>
                                </a>
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}                   
                </tbody>
            </table>
        </div>
    

{% endblock %}