{% extends "base.html.twig" %}

{% block body %}

    {# Search Member #}
    <h4 class="mb-3">Liste de membres</h4>
    <div class="search_member d-flex mb-3">
        <select class="form-select" aria-label="Default select example">
            <option selected>Trier par</option>
            <option value="1">Pseudo croissant</option>
            <option value="2">Pseudo décroissant</option>
        </select>
        <input type="text" class="form-control ms-2">
        <button class="btn btn-primary ms-2">Recherchez<i class="fas fa-search ms-2"></i></button>
    </div>


    {# Listing member #}
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Avatar</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Ajouter</th>
                    </tr>
                </thead>
                <tbody>                    
                    {% for member in members %}
                    <tr class="all_members">
                        <th class="all_members_image"scope="row"><img src="{{ member|image }}" alt="image_avatar"></th>
                        <td>{{member.firstname}}</td>
                        <td>{{member.lastname}}</td>
                        <td>{{member.pseudo}}</td>
                        <td class="add_friends">
                           
                            {% if app.user.isFriendsWith(member) %}
                                <p>Vous êtes amis</p>
                                <button>Quit</button>
                            {% elseif app.user.isRequestPending(member) %}                             
                                <p>... Demande envoyée</p>
                            {% elseif app.user.isRequestReceiving(member) %}
                                <a href="{{ path('add_friend', {id: member.id}) }}">
                                    <i class="fas fa-check ms-3"></i>
                                </a>
                                <a href="{{ path('refuse_friend', {id: member.id}) }}">
                                    <i class="fas fa-times ms-3"></i>
                                </a>
                            {% else %}                                
                                <a href="{{ path('ask_friend', {id: member.id}) }}">
                                    <i class="fas fa-plus ms-3"></i>
                                </a>
                            {% endif %}

                        </td>
                    </tr>
                    {% endfor %}                   
                </tbody>
            </table>
        </div>
    

{% endblock %}