{% extends 'base.html.twig' %}

{% block title %}La la share | {{ app.user.fullname }}{% endblock %}

{% block body %}


<div>
    <h3 class="text-center my-3">Bonjour {{ app.user.fullname }} </h3>

    <div class="text-center mt-5">        
        {% block content %}{% endblock %}        
    </div>

    <div class="text-center mt-5">
        <h5 class="my-3"><a href="{{ path('all_members') }}">Ajouter un ami</a></h5>

        <p>Demandes d'ami en attente : {{ app.user.receivedFriendsRequestsPending.count }} <br> de <br>
            {% for request in app.user.receivedFriendsRequestsPending %}
                {{ request.sender.fullname }}</br>
            {% endfor %}
        </p>
    </div>
</div>


{% endblock %}
