<div class="text-center">

     <div class="friends_slide">
        <i class="fas fa-chevron-right"></i>
    </div>

    <h3>Amis</h3>

    <div class="admin_contact">                
        <h5>Une question</h5>
        <i class="fas fa-question"></i>
    </div>

    <hr> 

        {% for friend in friends %}
        <div class="friends"
            data-get-message-url="{{ path('message', {id: friend.id}) }}"
            data-send-message-url="{{ path('send_message', {id: friend.id}) }}"
            data-friend-pseudo="{{friend.pseudo}}"
            data-friend-image="{{friend.image}}"
        >
            <img src="{{friend.image}}" alt="avatar_image">
            <h5>{{ friend.pseudo }}</h5>    
    
        </div>
        {% endfor %}

      
       

</div>
