<div class="text-center">

     <div class="friends_slide">
        <i class="fas fa-chevron-right"></i>
    </div>

    <h3>Amis</h3>

    <div class="admin_contact">
        <img src="{{ asset('upload/img/default_avatar.png')}}" alt="admin_img">
        <h5>Admin</h5>
    </div>
    <hr>    
    

        {% for friend in friends %}
        <div class="friends"
            data-get-message-url="{{ path('message', {id: friend.id}) }}"
            data-send-message-url="{{ path('send_message', {id: friend.id}) }}"
            data-friend-pseudo="{{friend.pseudo}}"
        >
    
            <img src="{{ asset('upload/img/pacman.jpg')}}" alt="friends_img">
            <h5>{{ friend.pseudo }}</h5>    
    
        </div>
        {% endfor %}

      
       

</div>
