<header>
	<nav>
		<div class="logo">
			<a href="{{ path('home') }}"><li>LA-LA-SHARE</li></a>
		</div>
		<div id="navigation">			
			<ul>
				<li><a href="{{ path('home') }}">Accueil</a></li>
				<li><a href="{{ path('musics') }}">Musique</a></li>	
				<li class="nav-item user">
					<a class="nav-link" href="#"><i class="fas fa-user-cog"></i></a>
				</li>
			{# {% if is_granted('ROLE_USER') %} #}
				{# <li class="nav-item user">
					<a class="nav-link" href="{{ path('redirect_user') }}"><i class="fas fa-user-cog"></i></a>
				</li>
				{# 
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
				</li>
			{# {% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
				</li>
			{% endif %}				 #}
				
			</ul>
		</div>
	</nav>
</header>
