<div class="text-center">

    <div class="musics_slide">
        <i class="fas fa-chevron-left"></i>
    </div>

    <h3 class="pb-3">Musiques</h3>  

    {# Nouveautés? #}

    {# Listing_musiques #}
    {% for music in musics %}
        <div class="musics"
            data-musics-audio="{{ music.audio }}"
            data-musics-image="{{ music|image }}"
            >
            <div class="musics_widgets_img pb-2">
                <img src="{{ asset(music|image) }}" alt="image de {{music.title}}">
            </div>
            <div class="musics_widgets_info">
                <p class="fs-5">{{ music.title }}</p>
                <p>{{ music.artist }}</p>
            </div>       
        </div>


        {# <div class="friends"
            data-get-message-url="{{ path('message', {id: friend.id}) }}"
            data-send-message-url="{{ path('send_message', {id: friend.id}) }}"
            data-friend-pseudo="{{friend.pseudo}}"
            data-friend-image="{{friend.image}}"
        >
            <img src="{{friend.image}}" alt="avatar_image">
            <h5>{{ friend.pseudo }}</h5>  
        </div> #}
    {% endfor %}
    
</div>
