{% extends "base.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-mx-auto mt-3">
            <h3>Ajouter une playlist</h3>
            
            {{ form_start(form) }}
                <div class="my-3">
                    {{ form_row(form.title) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.image) }}
                </div>                
                {{ form_row(form.submit) }}        
            {{ form_end(form) }}

            {# {{ form(form) }} #}
        </div>
    </div>
    

{% endblock %}